{{!-- layout view --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    {{!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}

    {{!-- <script src="node_modules/lodash/lodash.js" type="text/javascript"> async></script> --}}
   <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" />
    <!--Replace with your tailwind.css once created-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
    <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
    <style>
      .gradient {
        background: linear-gradient(90deg, #0a7557 0%, #03664a 100%);
      }
      .gradientCont {
        background: linear-gradient(90deg, #41B493 0%, #41B493 100%);
      }
      .gradientCont2{
        background: linear-gradient(90deg, #ff007b1f 0%, #ff007b1f 100%);
      }
      .gradientCont3{
        background: linear-gradient(90deg, #41B493 0%, #41B493 100%);
      }
    </style>
{{!-- <script src="node_modules/cloudinary-core/cloudinary-core.js" type="text/javascript"> async></script> --}}
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="scripts/addToFavorites.js"></script>
    <title>Mexaverse</title>
</head>

 <body >
    <nav class="{'flex': open, 'hidden': !open}" style="background-color: rgba(65, 180, 147)">
        <div class="rounded overflow-hidden shadow-lg max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
            <div class="relative flex items-center justify-between h-16">
                <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                    <button type="button"
                        class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                        aria-controls="mobile-menu" aria-expanded="true">
                        <span class="sr-only">Open main menu</span>
                        <svg class="block h-6 w-6 text-pink-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                        <svg class="hidden h-6 w-6 text-pink-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="flex-shrink-0 flex items-center">
                        <a class="no-underline hover:no-underline lg:text-4xl" href="/">
                        <img class="block lg:hidden h-12 w-auto"
                            src="/images/mexaverse-logo.png" alt="Workflow"></a>
                        <a class="no-underline hover:no-underline lg:text-4xl" href="/">
                        <img class="hidden lg:block h-12 w-auto"
                            src="/images/mexaverse-logo.png" alt="Workflow"></a>
                    </div>
                    {{#if currentUser}}
                    <div class="hidden sm:block sm:ml-6">
                        <div class="flex space-x-4">
                            <a href="/" style="background-color: #d2458a" class="text-gray-50 px-3 py-2 rounded-md block mb-2 text-sm font-black"
                                aria-current="page">HOME</a>

                            <a href="/nfts"
                                class="text-white hover:bg-pink-500 hover:text-gray-50 px-3 py-2 rounded-md block mb-2 text-sm font-black">Explorar</a>

                            <a href="/user/{{currentUser.userName}}"
                                class="text-white hover:bg-pink-500 hover:text-white px-3 py-2 rounded-md block mb-2 text-sm font-black">Perfil</a>

                            <a href="/nfts/my-nfts"
                                class="text-white hover:bg-pink-500 hover:text-white px-3 py-2 rounded-md block mb-2 text-sm font-black">Mis NFTs</a>

                            <a href="/nfts/create"
                                class="text-white hover:bg-pink-500 hover:text-white px-3 py-2 rounded-md block mb-2 text-sm font-black">Agregar NFTs</a>    
                        </div>
                    </div>

                    {{else}}
                    <div class="hidden sm:block sm:ml-6">
                        <div class="flex space-x-4">
                            <a href="/" style="background-color: #d2458a" class="text-white px-3 py-2 rounded-md block mb-2 text-sm font-black"
                                aria-current="page">HOME</a>

                            <a href="/auth/login"
                                class="text-white bg-opacity-25 hover:bg-pink-500  hover:text-white px-3 py-2 rounded-md block mb-2 text-sm font-black">LOGIN</a>

                            <a href="/auth/signup"
                                class="text-white hover:bg-pink-500 hover:text-white px-3 py-2 rounded-md block mb-2 text-sm font-black">SIGNUP</a>
                        </div>
                    </div>
                    {{/if}}
                </div>
                {{#if currentUser}}
                <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

                    <!-- Profile dropdown -->
                     <form action="/auth/logout" method="POST">
                          <button type="submit" class="text-white hover:bg-pink-500 hover:text-white px-3 py-2 mr-2 rounded-md block text-sm font-black">Cerrar Sesión</button>
                     </form>                          
                    <div class="ml-3 relative">
                        <div>
                            <a href="/user/{{currentUser.userName}}">
                                <button type="submit"
                                    class="bg-green-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-green-800 focus:ring-pink"
                                     aria-expanded="true" aria-haspopup="true">
                                    <span class="sr-only">Open user menu</span>
                                    <img class="h-8 w-8 rounded-full" src="{{currentUser.userImage}}" alt="">
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
      </div>   
    </nav>

    {{{ body }}}

        <!--Footer-->
    <footer class="gradientCont bg-white">
      <div class="container mx-auto pt-4">
        <div class="mr-10 w-full flex flex-col md:flex-row ">

          <div class="flex-1 mb-2 text-black">
            <a class="no-underline hover:no-underline lg:text-4xl" href="/">        
              <div class="flex-shrink-0 flex">
                <img class="block lg:hidden h-15 w-auto" src="/images/mexaverse-logo.png" alt="Workflow">
                  <img class="flex space-x-4 hidden lg:block h-15 " src="/images/mexaverse-logo.png" alt="Workflow">
              </div>
            </a>
          </div>

          <div class="flex-1 ml-8 ml-8">
            <p class="text-xs uppercase text-white mb-2">Links</p>
            <ul class="list-reset mb-2">
              <li class="mt-1 inline-block mr-2 md:block md:mr-0">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="text-xs no-underline hover:underline text-gray-800 hover:text-pink-500">FAQ</a>
              </li>
              <li class="mt-1 inline-block mr-2 md:block md:mr-0">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="text-xs no-underline hover:underline text-gray-800 hover:text-pink-500">Help</a>
              </li>
              <li class="mt-1 inline-block mr-2 md:block md:mr-0">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="text-xs no-underline hover:underline text-gray-800 hover:text-pink-500">Support</a>
              </li>
            </ul>
          </div>
          <div class="flex-1 ml-8">
            <p class="text-xs uppercase text-white md:mb-2">Legal</p>
            <ul class="list-reset mb-2">
              <li class="mt-1 inline-block mr-2 md:block md:mr-0">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="text-xs no-underline hover:underline text-gray-800 hover:text-pink-500">Terms</a>
              </li>
              <li class="mt-1 inline-block mr-2 md:block md:mr-0">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="text-xs no-underline hover:underline text-gray-800 hover:text-pink-500">Privacy</a>
              </li>
            </ul>
          </div>
          <div class="flex-1 ml-8">
            <p class="text-xs uppercase text-white md:mb-2">Social</p>
            <ul class="list-reset mb-2">
              <li class="mt-1 inline-block mr-2 md:block md:mr-0">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="text-xs no-underline hover:underline text-gray-800 hover:text-pink-500">Facebook</a>
              </li>
              <li class="mt-1 inline-block mr-2 md:block md:mr-0">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="text-xs no-underline hover:underline text-gray-800 hover:text-pink-500">Linkedin</a>
              </li>
              <li class="mt-1 inline-block mr-2 md:block md:mr-0">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="text-xs no-underline hover:underline text-gray-800 hover:text-pink-500">Twitter</a>
              </li>
            </ul>
          </div>
          <div class="flex-1 ml-8">
            <p class="text-xs uppercase text-white md:mb-2">Company</p>
            <ul class="list-reset mb-2">
              <li class="mt-1 inline-block mr-2 md:block md:mr-0">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="text-xs no-underline hover:underline text-gray-800 hover:text-pink-500">Official Blog</a>
              </li>
              <li class="mt-1 inline-block mr-2 md:block md:mr-0">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="text-xs no-underline hover:underline text-gray-800 hover:text-pink-500">About Us</a>
              </li>
              <li class="mt-1 inline-block mr-2 md:block md:mr-0">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="text-xs no-underline hover:underline text-gray-800 hover:text-pink-500">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="gradient pl-2 py-1.5 text-white text-xs">@2021-Mexico-CDMX BY: @Martin Giura & @Rodrigo Gonzalez - TACO LOVERS</div>
    </footer>
    
</body>

</html>